ul
{
    background-color: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    border: 3px black outset;
}

li:nth-child(2){
    color: red;
}

body{
    background-color: blueviolet;
}
.lorem{
    color: red;
}